<%- include("header") %>

<div class="container"> 

    <a href="/transfer%>"><%=Transfer%></a>
    <ht>
        <%=title %>
    </ht>
    <a href="/profile%>"><%=Profile%></a>

</div>

<%- include("footer") %>