<%- include("header") %>

<div class="container"> 
    <ht>
        <%=title %>
    </ht>
    <a href='/profile%>'><%=Profile%></a>
</div>

<br>
<br><a href='/transfer'>Transfer</a>

<%- include('footer') %>
<%- include("summary") %>
<%- include({ account: accounts.checking }) %>
<%- include({ account: accounts.savings }) %>
<%- include({ account: accounts.credit }) %>

<%- include("footer") %>